Proyecto_Final (1).json
{
  "name": "Proyecto_Final",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        640
      ],
      "id": "e7d2704c-ec1a-47f3-b5ea-704c1d6c49bf",
      "name": "Telegram Trigger",
      "webhookId": "21f68f11-2708-4f4a-b6ab-b72a54b0ff85",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1391290616,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1391290616"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telegram_user",
              "lookupValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        640
      ],
      "id": "b95e92fe-2c4c-437a-b8a0-8d704560982a",
      "name": "Check_Usuario",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38d022c6-a725-4936-b590-75c1c47687a6",
              "leftValue": "={{ $json.activo }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        640
      ],
      "id": "4a65502a-6f90-4764-970e-bea18c792da2",
      "name": "Validar_Activo"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "usuario no exste",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        736
      ],
      "id": "2f4ccbc6-0add-443b-835a-7b3cfb77df19",
      "name": "Msg_No_Existe",
      "webhookId": "6a6566f5-b7e3-4b05-a169-920016a28dff",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $json.telegram_user }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        352
      ],
      "id": "96ca45dc-9a03-4497-8446-8ac12a99f4ce",
      "name": "Cargar_Estado",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "efbd7a22-4758-4a11-a8d3-3e044d9409f0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "00729a46-a6d8-4ec2-846c-b8bfabea9683",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f80c0b7-9441-4248-b7db-d7517c2dafd9",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "ESPERANDO_TIPO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "50687722-0d36-447a-86fc-042bcb35ca1a",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "ESPERANDO_DESCRIPCION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        496
      ],
      "id": "03eb085c-e615-40c1-863c-8b59c5b6de87",
      "name": "Switch_Principal"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Hola, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte de forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        -608
      ],
      "id": "89b0c809-d7c2-4642-a9fd-a74766779e9b",
      "name": "Msg_Menu_Principal",
      "webhookId": "0471cb25-f2e0-487f-a853-a00b14648185",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "MENU_PRINCIPAL",
            "opcion": "Bienvenida",
            "resultado": "Mensaje enviado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -608
      ],
      "id": "7bcb1f8c-2910-4685-a058-bafddd3bc57e",
      "name": "Log_Menu_Principal",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dce1e4ed-b325-42c3-bb86-6b4f9cc3fa54"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38de5724-039f-48c6-8fb5-2313378f7c89",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "321a2144-2323-460b-b926-90cf07d4fb4f",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "859775ed-d3ec-4d39-ad4d-013a76cec701",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "849b51b0-edae-4590-b18e-feb7fd24f5c3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        816,
        -80
      ],
      "id": "c902b8c8-25f0-4fa8-87f4-3c2a8b457e49",
      "name": "Switch_Opciones_Menu"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Vamos a crear una solicitud, para lo cual se necesitará de escoger su tipo.\n\nSelecciona el tipo:\n1. Soporte técnico\n2. Solicitud administrativa\n3. Consulta general\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -416
      ],
      "id": "6363c874-68ed-4303-8776-b60cffd3ae8e",
      "name": "Msg_Seleccionar_Tipo",
      "webhookId": "213497a7-bcbf-4733-a259-721e6d4e1dd4",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "ESPERANDO_TIPO",
            "opcion": "Crear solicitud",
            "resultado": "Esperando tipo de problema"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -416
      ],
      "id": "ed4e19fe-9001-4ea9-a2c7-ce673a99b7b3",
      "name": "Log_Esperando_Tipo",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "salida 1 (switch2)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        -224
      ],
      "id": "8f01a527-2b5c-4716-9d86-ae6ee1f527f0",
      "name": "Msg_Consultar",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "salida 2 (swith2)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -32
      ],
      "id": "fcfff0ee-383c-4852-96ee-9613fe8aaa6c",
      "name": "Msg_Mis_Solicitudes",
      "webhookId": "ad43358a-ea32-4068-900b-bd21cba55ef1",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "salida 1 (switch2)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        160
      ],
      "id": "e976b351-d583-494f-9dbf-58a89e1a1d86",
      "name": "Msg_Reportes",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "salida 1 (switch2)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        352
      ],
      "id": "dd00710e-9a31-42c7-8446-36535e160941",
      "name": "Msg_Configuracion",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cfa64387-3b78-4eda-83ed-f69bd40b9333"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8e2cca47-a487-4f41-9c55-62e986e97250",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "852ed41f-7e46-4381-b779-e1558784839e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3c0fa21e-8f6a-4d4c-a042-24803ae9d514",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        816,
        512
      ],
      "id": "847c22b5-d257-4ddb-af4b-63046b111975",
      "name": "Switch_Tipos"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Has seleccionado Soporte Técnico. Por favor, escribe ahora una descripción detallada de tu problema",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        544
      ],
      "id": "86bbf502-b244-4c6e-b85d-2102cee0f517",
      "name": "Msg_Pedir_Descripcion",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "ESPERANDO_DESCRIPCION",
            "opcion": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] == \"1\" ? \"Soporte\" : \"Otra\" }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        544
      ],
      "id": "321e8f15-9a38-440f-83dd-84a381ccb9f2",
      "name": "Descripcion_Problema",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724968035,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1724968035"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $('Telegram Trigger').item.json.message.message_id }}",
            "tipo": "={{ $('Cargar_Estado').item.json.opcion }}",
            "descripcion": "={{ $('Telegram Trigger').item.json.message.text }}",
            "estado": "Abierto",
            "prioridad": "Media",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
            "fecha_creacion": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        784
      ],
      "id": "1605b2dc-3a3c-4908-a746-38e7e1e47555",
      "name": "Guardar_Solicitud",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ ¡Solicitud guardada! Tu reporte sobre {{ $('Cargar_Estado').item.json.opcion }} ha sido registrado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        720
      ],
      "id": "a92ff159-abbe-4384-9641-fcbe59418fe1",
      "name": "Msg_Confirmacion_Final",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "MENU_PRINCIPAL",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        176
      ],
      "id": "9115cf1b-c629-480b-8383-29af27f63868",
      "name": "Log_Reset",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724968035,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1724968035"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -224
      ],
      "id": "558f03bd-3ee8-4158-ae94-b01ec922c109",
      "name": "Buscar_Solicitud",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "fecha_creacion",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1264,
        -224
      ],
      "id": "c47b04f1-48f7-4f69-a06f-235a773f11d7",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1488,
        -224
      ],
      "id": "6e05e49a-b78c-471c-aeaf-03c9918804bf",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ Lo siento, perdí el hilo de la conversación. He reiniciado tu sesión. Por favor, escribe cualquier mensaje para ver el menú.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        864
      ],
      "id": "4708114d-f17d-4efc-a708-7f51c26cea59",
      "name": "Msg_FallBack",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "QXnpssL9UPWr5Jyh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "MENU_PRINCIPAL",
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"] }}",
            "opcion": "Fallback Reset"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1168,
        960
      ],
      "id": "09c0dc20-29c4-4b0e-9e6b-c8972afbb67b",
      "name": "Log_Reset_Fallback",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6pKDHj0tZ5B7Cdse",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "=timestamp",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        128,
        176
      ],
      "id": "3be64409-9c35-4f84-af6d-8d93a508a98e",
      "name": "Sort1",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        336,
        352
      ],
      "id": "b4030da4-0097-4ce5-b824-45cf562e1300",
      "name": "Limit1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check_Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Usuario": {
      "main": [
        [
          {
            "node": "Validar_Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar_Activo": {
      "main": [
        [
          {
            "node": "Cargar_Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_No_Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar_Estado": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Principal": {
      "main": [
        [
          {
            "node": "Msg_Menu_Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch_Opciones_Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch_Tipos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar_Solicitud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_FallBack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Menu_Principal": {
      "main": [
        [
          {
            "node": "Log_Menu_Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Opciones_Menu": {
      "main": [
        [
          {
            "node": "Msg_Seleccionar_Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar_Solicitud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Mis_Solicitudes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Seleccionar_Tipo": {
      "main": [
        [
          {
            "node": "Log_Esperando_Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Tipos": {
      "main": [
        [
          {
            "node": "Msg_Pedir_Descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Pedir_Descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Pedir_Descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log_Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Pedir_Descripcion": {
      "main": [
        [
          {
            "node": "Descripcion_Problema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar_Solicitud": {
      "main": [
        [
          {
            "node": "Msg_Confirmacion_Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Confirmacion_Final": {
      "main": [
        [
          {
            "node": "Log_Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Solicitud": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Msg_Consultar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Consultar": {
      "main": [
        [
          {
            "node": "Log_Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_FallBack": {
      "main": [
        [
          {
            "node": "Log_Reset_Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log_Esperando_Tipo": {
      "main": [
        []
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Switch_Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ab97e844-56a0-43c3-904d-9a6a18e286dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "124a8f80d6c539c445ff87ee6da72e85457a00632fd3ad2a0fddc7c94f3a85b5"
  },
  "id": "IeqVt1Rej5FfB4LA",
  "tags": []
}