Proyecto_Final.json
{
  "name": "Proyecto_Final",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4256,
        2320
      ],
      "id": "6bec2468-5ebc-44c3-8449-4cf166335582",
      "name": "Telegram Trigger",
      "webhookId": "21f68f11-2708-4f4a-b6ab-b72a54b0ff85",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1391290616,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1391290616"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telegram_user",
              "lookupValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4032,
        2320
      ],
      "id": "b12da5c6-160d-413b-9293-32a7d0a2c34c",
      "name": "Check_Usuario",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38d022c6-a725-4936-b590-75c1c47687a6",
              "leftValue": "={{ $json.activo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3808,
        2320
      ],
      "id": "ba940697-82d4-4e0f-b084-4490d56746ec",
      "name": "Validar_Activo"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "usuario no exste",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3584,
        2416
      ],
      "id": "b6f7d4fa-8bf7-4d6e-bffa-8f3c93d3c68e",
      "name": "Msg_No_Existe",
      "webhookId": "6a6566f5-b7e3-4b05-a169-920016a28dff",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $json.telegram_user }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3584,
        2224
      ],
      "id": "f5467566-75be-456a-8e3e-80462bf6e8d9",
      "name": "Cargar_Estado",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "efbd7a22-4758-4a11-a8d3-3e044d9409f0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "00729a46-a6d8-4ec2-846c-b8bfabea9683",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f80c0b7-9441-4248-b7db-d7517c2dafd9",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "ESPERANDO_TIPO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "50687722-0d36-447a-86fc-042bcb35ca1a",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "ESPERANDO_DESCRIPCION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f8d8b82c-a7e6-44e4-bb3f-f7dadb77d97f",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "ESPERANDO_PRIORIDAD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ce43a55b-6466-44b9-a07d-feef66696f45",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "ESPERANDO_TICKET",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp-esperando-reporte",
                    "leftValue": "={{ $json.pantalla }}",
                    "rightValue": "ESPERANDO_REPORTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2912,
        2128
      ],
      "id": "37c7bb84-36b0-41f6-9bf0-9d9a78c720ce",
      "name": "Switch_Principal"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Hola, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte de forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2064,
        1088
      ],
      "id": "4b504e5c-ddf7-4485-89a2-a4ad2f494c86",
      "name": "Msg_Menu_Principal",
      "webhookId": "0471cb25-f2e0-487f-a853-a00b14648185",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "MENU_PRINCIPAL",
            "opcion": "Bienvenida",
            "resultado": "Mensaje enviado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1840,
        1088
      ],
      "id": "346a7365-3c32-4feb-b397-4fdd90ae4006",
      "name": "Log_Menu_Principal",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dce1e4ed-b325-42c3-bb86-6b4f9cc3fa54"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38de5724-039f-48c6-8fb5-2313378f7c89",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "321a2144-2323-460b-b926-90cf07d4fb4f",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "859775ed-d3ec-4d39-ad4d-013a76cec701",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "849b51b0-edae-4590-b18e-feb7fd24f5c3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e04d2e48-e8b6-43a6-86e6-9b8acc23f276",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1840,
        1328
      ],
      "id": "15f648ba-3c6a-4894-a120-6aa48c33b459",
      "name": "Switch_Opciones_Menu"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Vamos a crear una solicitud, para lo cual se necesitará de escoger su tipo.\n\nSelecciona el tipo:\n1. Soporte técnico\n2. Solicitud administrativa\n3. Consulta general\n9. Cancelar",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        576
      ],
      "id": "a486b2ce-be80-4e0c-85f4-f1bce884632f",
      "name": "Msg_Seleccionar_Tipo",
      "webhookId": "213497a7-bcbf-4733-a259-721e6d4e1dd4",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "ESPERANDO_TIPO",
            "opcion": "Crear solicitud",
            "resultado": "Esperando tipo de problema"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        608
      ],
      "id": "53292ae3-da0f-4727-99a7-7b2228eb91ee",
      "name": "Log_Esperando_Tipo",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🔍 Buscando tus solicitudes...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        960
      ],
      "id": "946883c4-c4cd-4325-87a6-b23391e1df38",
      "name": "Msg_Mis_Solicitudes",
      "webhookId": "ad43358a-ea32-4068-900b-bd21cba55ef1",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📊 Generando reporte general de solicitudes...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        1152
      ],
      "id": "e5a4fcd4-f4d3-4c3a-b051-7f1dc459b925",
      "name": "Msg_Reportes",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Modulo en construcción....🏗️   Vulva otro día! ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        1408
      ],
      "id": "80710dc2-eb91-4a42-8174-934dad7740b1",
      "name": "Msg_Configuracion",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cfa64387-3b78-4eda-83ed-f69bd40b9333"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8e2cca47-a487-4f41-9c55-62e986e97250",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "852ed41f-7e46-4381-b779-e1558784839e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3c0fa21e-8f6a-4d4c-a042-24803ae9d514",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1360,
        2416
      ],
      "id": "18ca093f-2fe1-4023-b340-5f8fffeda0f7",
      "name": "Switch_Tipos"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✍️ Por favor, describe brevemente tu solicitud:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1840,
        2896
      ],
      "id": "fd5bff54-e9cf-496b-92ca-609c14170485",
      "name": "Msg_Pedir_Descripcion",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ Lo siento, perdí el hilo de la conversación. He reiniciado tu sesión. Por favor, escribe cualquier mensaje para ver el menú.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2560,
        3584
      ],
      "id": "061a313d-ec20-4af2-84a0-d73e0f5c76cf",
      "name": "Msg_FallBack",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "MENU_PRINCIPAL",
            "telegram_user": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"] }}",
            "opcion": "Fallback Reset",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2336,
        3584
      ],
      "id": "816bbc3d-d2c9-4e0b-9e1e-53ccdc008d56",
      "name": "Log_Reset_Fallback",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "=timestamp",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -3360,
        2224
      ],
      "id": "ee7b3ca0-d6e2-444d-8449-fc2b1fd169c3",
      "name": "Sort1",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3136,
        2224
      ],
      "id": "fdb2f84d-2f7b-47a1-b0b2-b3811aa17e11",
      "name": "Limit1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⚡ Selecciona la prioridad de tu solicitud:\n\n1. Baja 🟢\n\n2. Media 🟡\n\n3. Alta 🔴",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1136,
        2304
      ],
      "id": "ede815c4-a94d-4231-908d-cdec7eb2c69b",
      "name": "Msg_Seleccionar_Prioridad",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "ESPERANDO_PRIORIDAD",
            "opcion": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        2208
      ],
      "id": "750da6b2-e86a-4ac9-8cc1-330028617e3e",
      "name": "Log_Esperando_Prioridad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "95f2e329-ccff-4ae7-9305-15208069f337"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "808400fa-247e-496d-b6fc-3596659be83b",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "34b2060e-55fb-4b3e-a161-d7e19169f9e5",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2064,
        2880
      ],
      "id": "2acc6329-a808-4057-8ccb-0a94f2cb6f21",
      "name": "Switch_Prioridad"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "ESPERANDO_DESCRIPCION",
            "opcion": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1616,
        2896
      ],
      "id": "876b9330-dc56-45a3-b1b7-73ea5c3eb74a",
      "name": "Log_Esperando_Descripcion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724968035,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1724968035"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "=TIC-{{ Math.floor(Math.random() * 10000) }}",
            "descripcion": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}",
            "creado_por": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"first_name\"] }}",
            "fecha_creacion": "={{ $now }}",
            "estado": "ABIERTO",
            "tipo": "={{ $('Code_Extraer_TP').item.json.tipo_solicitud }}",
            "prioridad": "={{ $('Code_Extraer_TP').item.json.prioridad_solicitud }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        2688
      ],
      "id": "790933b6-0e25-4d90-a4b1-aac446eeb4de",
      "name": "Guardar_Solicitud1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "MENU_PRINCIPAL",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        2096
      ],
      "id": "b91fb016-ed52-4cf8-aafa-67cd8b8fb211",
      "name": "Log_Reset1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ **¡Solicitud creada con éxito!**\n\n🎫 **Ticket:** {{ $node[\"Guardar_Solicitud1\"].json[\"id_ticket\"] }}\n📝 **Descripción:** {{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}\n🚦 **Estado:** ABIERTO\n\n_Nos pondremos en contacto contigo pronto._",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        2688
      ],
      "id": "bb4d83b1-573f-43e3-b0c1-961a9dd74837",
      "name": "Msg_Confirmacion_Final1",
      "webhookId": "04df77e7-2fcf-43f1-8b34-6ee0793ef929",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Hola, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte de forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        2272
      ],
      "id": "8364acd7-172a-4fd8-a517-67d88874f2b6",
      "name": "Msg_Menu_Principal1",
      "webhookId": "0471cb25-f2e0-487f-a853-a00b14648185",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724968035,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1724968035"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"first_name\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2064,
        2688
      ],
      "id": "9b79bd7d-7ab5-4701-b887-db3b5bacc7e5",
      "name": "Buscar _Último_Ticket",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "=fecha_creacion",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1840,
        2688
      ],
      "id": "31796a89-26f4-4267-a621-b1767558cecf",
      "name": "Sort2",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1616,
        2688
      ],
      "id": "a89d5f2c-1702-41f4-b096-1838d4c46764",
      "name": "Limit2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el estado actual del ticket que encontramos\nlet estadoActual = $node[\"Limit2\"].json[\"estado\"];\n\n// Definimos la lógica de progresión\nlet estados = {\n  'Pendiente': 'En revisión',\n  'En revisión': 'Aprobada',\n  'Aprobada': 'Completada',\n  'Completada': 'Pendiente' // Reinicia el ciclo\n};\n\n// Si por alguna razón no hay estado (hoja vacía), empezamos en Pendiente\nlet resultado = estados[estadoActual] || 'Pendiente';\n\nreturn {\n  nuevo_estado: resultado\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        2688
      ],
      "id": "e8d82b38-8c34-4a29-a5e6-36849e4ffa12",
      "name": "nuevo_estado"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724968035,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1724968035"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "estado": "={{ $node[\"nuevo_estado\"].json[\"nuevo_estado\"] }}",
            "id_ticket": "={{ $node[\"Limit2\"].json[\"id_ticket\"] }}"
          },
          "matchingColumns": [
            "id_ticket"
          ],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1168,
        2688
      ],
      "id": "415c2930-8885-417b-ba67-4fd53e0b07a0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Por favor, escribe el número de ticket que deseas consultar (ejemplo: TIC-1234):",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        768
      ],
      "id": "6aa94cb8-d7fe-4fb4-bc2a-ff5319fa1592",
      "name": "Msg_Pedir_Ticket",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724968035,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1724968035"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_ticket",
              "lookupValue": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1824,
        1840
      ],
      "id": "6ca096a4-b76f-4deb-894d-af3aa8a398f3",
      "name": "Buscar_Ticket_Especifico",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bdc294a6-e941-4a7d-a78c-37fed99d12fb",
              "leftValue": "={{ $json.id_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1344,
        1904
      ],
      "id": "ca77e7b0-d355-488b-9d14-5ab0b450db22",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Ticket encontrado:\n\n🎫 ID: {{ $json.id_ticket }}\n🚦 Estado: {{ $json.estado }}\n🛠️ Tipo: {{ $json.tipo }}\n📝 Descripción: {{ $json.descripcion }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        1792
      ],
      "id": "e95585be-4c02-41a8-b2d0-add9823617dc",
      "name": "Msg_Datos_Ticket",
      "webhookId": "20d6f4da-811d-4727-bad5-098c55e79c73",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ No encontré ningún ticket con ese número. Verifica que esté bien escrito e intenta de nuevo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        2016
      ],
      "id": "4112c54e-708c-46ca-b798-6c7dd5cb4cfe",
      "name": "Msg_Ticket_No_Encontrado",
      "webhookId": "20d6f4da-811d-4727-bad5-098c55e79c73",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "ESPERANDO_TICKET",
            "opcion": "Consultar ticket"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        832
      ],
      "id": "bd923ead-8fd6-48cd-b8f6-4d814ede83d7",
      "name": "Log_Esperando_Ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724968035,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1724968035"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        1056
      ],
      "id": "6068c428-ef11-4c48-972d-bbacaf5c8e69",
      "name": "Buscar_Mis_Solicitudes",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0 || !items[0].json.id_ticket) {\n  return [{\n    json: {\n      mensaje: \"📭 No tienes solicitudes registradas aún.\\n\\nEscribe *1* para crear tu primera solicitud.\"\n    }\n  }];\n}\n\nlet texto = `📋 *Tus solicitudes (${items.length}):*\\n\\n`;\n\nfor (const item of items) {\n  const t = item.json;\n  const estado = t.estado || 'Sin estado';\n  const tipo = t.tipo || 'Sin tipo';\n  const fecha = t.fecha_creacion ? t.fecha_creacion.substring(0, 10) : 'Sin fecha';\n  \n  texto += `🎫 *${t.id_ticket}*\\n`;\n  texto += `   📌 ${tipo} | 🚦 ${estado}\\n`;\n  texto += `   📝 ${t.descripcion}\\n`;\n  texto += `   📅 ${fecha}\\n\\n`;\n}\n\ntexto += `Escribe *2* para consultar el detalle de un ticket específico.`;\n\nreturn [{ json: { mensaje: texto } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1072
      ],
      "id": "1e2a2446-0f07-430e-bf18-f52b227f980e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        1088
      ],
      "id": "bb5a1849-7e76-4a93-843e-a5c7176c1fed",
      "name": "Msg_Lista_Solicitudes",
      "webhookId": "7b9fd7f6-1de7-4350-98f9-ec1f7f18a05d",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "MENU_PRINCIPAL",
            "opcion": "Mis solicitudes"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        1056
      ],
      "id": "2f3d4e6f-5507-4584-a51a-e3c55d50932e",
      "name": "Log_Mis_Solicitudes",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1724968035,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=1724968035"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1392,
        3216
      ],
      "id": "b0cd436f-dc01-4cde-bf55-a390c98cfb2d",
      "name": "Leer_Todas_Solicitudes",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst total = items.length;\n\nif (total === 0 || !items[0].json.id_ticket) {\n  return [{\n    json: {\n      mensaje: \"\\u{1F4CA} *Reporte de Solicitudes*\\n\\n\\u{1F4ED} No hay solicitudes registradas aun en el sistema.\"\n    }\n  }];\n}\n\nconst porEstado = {};\nconst porTipo = {};\nconst porPrioridad = {};\n\nfor (const item of items) {\n  const t = item.json;\n  const estado = (t.estado || 'Sin estado').trim();\n  const tipo = (t.tipo || 'Sin tipo').trim();\n  const prioridad = (t.prioridad || 'Sin prioridad').trim();\n\n  porEstado[estado] = (porEstado[estado] || 0) + 1;\n  porTipo[tipo] = (porTipo[tipo] || 0) + 1;\n  porPrioridad[prioridad] = (porPrioridad[prioridad] || 0) + 1;\n}\n\nconst iconosEstado = {\n  'ABIERTO': '\\uD83D\\uDFE2',\n  'Pendiente': '\\uD83D\\uDFE1',\n  'En revision': '\\uD83D\\uDD35',\n  'Aprobada': '\\u2705',\n  'Completada': '\\uD83C\\uDFC1',\n};\n\nconst iconosTipo = {\n  'Soporte tecnico': '\\uD83D\\uDEE0\\uFE0F',\n  'Solicitud administrativa': '\\uD83D\\uDCCB',\n  'Consulta general': '\\uD83D\\uDCAC',\n};\n\nconst iconosPrioridad = {\n  'Baja': '\\uD83D\\uDFE2',\n  'Media': '\\uD83D\\uDFE1',\n  'Alta': '\\uD83D\\uDD34',\n};\n\nlet msg = \"\\u{1F4CA} *Reporte General de Solicitudes*\\n\";\nmsg += \"----------------------------\\n\";\nmsg += \"\\u{1F4C1} *Total de solicitudes:* \" + total + \"\\n\\n\";\n\nmsg += \"\\u{1F4CC} *Por Estado:*\\n\";\nfor (const [estado, cantidad] of Object.entries(porEstado)) {\n  const icono = iconosEstado[estado] || '\\u26AA';\n  msg += \"   \" + icono + \" \" + estado + \": *\" + cantidad + \"*\\n\";\n}\n\nmsg += \"\\n\\u{1F5C2}\\uFE0F *Por Tipo:*\\n\";\nfor (const [tipo, cantidad] of Object.entries(porTipo)) {\n  const icono = iconosTipo[tipo] || '\\uD83D\\uDCC4';\n  msg += \"   \" + icono + \" \" + tipo + \": *\" + cantidad + \"*\\n\";\n}\n\nmsg += \"\\n\\u26A1 *Por Prioridad:*\\n\";\nfor (const [prio, cantidad] of Object.entries(porPrioridad)) {\n  const icono = iconosPrioridad[prio] || '\\u26AA';\n  msg += \"   \" + icono + \" \" + prio + \": *\" + cantidad + \"*\\n\";\n}\n\nmsg += \"\\n----------------------------\";\n\nreturn [{ json: { mensaje: msg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        3472
      ],
      "id": "85e86e1a-571d-4617-82d2-6df8a0479a27",
      "name": "Code_Calcular_Reporte"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        3472
      ],
      "id": "f368f150-00ea-483b-bb01-152fcb3df4fb",
      "name": "Msg_Reporte_Resultado",
      "webhookId": "aaa00003-reporte-0003-0003-000000000003",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "MENU_PRINCIPAL",
            "opcion": "Reportes",
            "resultado": "Reporte enviado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        3472
      ],
      "id": "4832c3bd-f758-424c-8f87-40d950f38bdd",
      "name": "Log_Reporte",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -944,
        2688
      ],
      "id": "0444f54e-3bd0-4899-a1f8-6800066a17ca",
      "name": "Leer_Logs_TP",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst mapasTipo = {\n  '1': 'Soporte técnico',\n  '2': 'Solicitud administrativa',\n  '3': 'Consulta general'\n};\nconst mapasPrioridad = {\n  '1': 'Baja',\n  '2': 'Media',\n  '3': 'Alta'\n};\n\nlet tipo = '';\nlet prioridad = '';\n\n// Ordenar descendente por timestamp para tomar los más recientes\nconst sorted = items\n  .filter(i => i.json && i.json.pantalla)\n  .sort((a, b) => new Date(b.json.timestamp) - new Date(a.json.timestamp));\n\nfor (const item of sorted) {\n  const pantalla = (item.json.pantalla || '').trim();\n  const opcion   = String(item.json.opcion || '').trim();\n\n  // El tipo se eligió cuando estaba en ESPERANDO_TIPO\n  // → el SIGUIENTE log es ESPERANDO_PRIORIDAD y su \"opcion\" es el número del tipo\n  if (pantalla === 'ESPERANDO_PRIORIDAD' && tipo === '') {\n    tipo = mapasTipo[opcion] || opcion;\n  }\n  // La prioridad se eligió cuando estaba en ESPERANDO_PRIORIDAD\n  // → el SIGUIENTE log es ESPERANDO_DESCRIPCION y su \"opcion\" es el número de prioridad\n  if (pantalla === 'ESPERANDO_DESCRIPCION' && prioridad === '') {\n    prioridad = mapasPrioridad[opcion] || opcion;\n  }\n  if (tipo !== '' && prioridad !== '') break;\n}\n\nreturn [{ json: { tipo_solicitud: tipo || 'Sin tipo', prioridad_solicitud: prioridad || 'Sin prioridad' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        2688
      ],
      "id": "8eeb3ecd-c1dc-40eb-a2f4-7c80808e1d88",
      "name": "Code_Extraer_TP"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📊 *Reportes*\n\nSelecciona una opción:\n\n1. Reporte por tipo de solicitud\n9. Volver al menú principal",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        1248
      ],
      "id": "4410eb9a-2253-43ca-9db0-a6278cba4f8f",
      "name": "Msg_Submenu_Reportes",
      "webhookId": "rep00001-submenu-reportes",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "ESPERANDO_REPORTE",
            "opcion": "Submenú reportes"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        1248
      ],
      "id": "92495bf9-24ef-4d5b-9cdb-3989b6fcc94d",
      "name": "Log_Esperando_Reporte",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rep-sw-1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rep-sw-9",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2000,
        3120
      ],
      "id": "35b7664e-bae1-42fa-8897-71aa5bf0cb90",
      "name": "Switch_Submenu_Reportes"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⏳ Perfecto, estoy generando el reporte de solicitudes...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1616,
        3216
      ],
      "id": "bf67ca22-d5f1-4930-be7c-b6b92324f5ed",
      "name": "Msg_Procesando_Reporte",
      "webhookId": "rep00004-msg-procesando",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -944,
        3216
      ],
      "id": "bfb88d8b-ef13-47d1-bbe1-e5485b0bea7b",
      "name": "Leer_Logs_Reporte",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst totalSolicitudes = items.filter(i => i.json && i.json.id_ticket).length;\n\nif (totalSolicitudes === 0) {\n  return [{\n    json: {\n      mensaje: \"📊 *Reporte de solicitudes*\\n\\nNo hay solicitudes registradas aún en el sistema.\"\n    }\n  }];\n}\n\n// Agrupar por tipo y por estado dentro de cada tipo\nconst porTipo = {};\n\nfor (const item of items) {\n  const t = item.json;\n  if (!t.id_ticket) continue;\n\n  const tipo   = (t.tipo   || 'Sin tipo').trim();\n  const estado = (t.estado || 'Sin estado').trim();\n\n  if (!porTipo[tipo]) {\n    porTipo[tipo] = { total: 0, estados: {} };\n  }\n  porTipo[tipo].total++;\n  porTipo[tipo].estados[estado] = (porTipo[tipo].estados[estado] || 0) + 1;\n}\n\n// Tipo más frecuente\nlet tipoMasFrecuente = '';\nlet maxCount = 0;\nfor (const [tipo, info] of Object.entries(porTipo)) {\n  if (info.total > maxCount) {\n    maxCount = info.total;\n    tipoMasFrecuente = tipo;\n  }\n}\n\n// Construir mensaje con Markdown V1 (sin escapes especiales)\nlet msg = '📊 *Reporte de solicitudes*\\n\\n';\nmsg += '*Resumen general*\\n';\nmsg += '- Tipo más frecuente: ' + tipoMasFrecuente + '\\n';\nmsg += '- Total solicitudes: ' + totalSolicitudes + '\\n';\nmsg += '- Interacciones con el bot: {{TOTAL_LOGS}}\\n\\n';\nmsg += '*Detalle por tipo*\\n';\n\nconst tiposOrdenados = Object.entries(porTipo)\n  .sort((a, b) => b[1].total - a[1].total);\n\nconst numerales = ['1)', '2)', '3)', '4)', '5)'];\n\ntiposOrdenados.forEach(([tipo, info], idx) => {\n  const num = numerales[idx] || (idx + 1) + ')';\n  msg += '\\n' + num + ' ' + tipo + '\\n';\n  msg += '   - Total: ' + info.total + '\\n';\n\n  const ordenEstados = ['ABIERTO', 'Pendiente', 'En revisión', 'En proceso', 'Aprobada', 'Completada', 'Cerrada'];\n  const estadosPresentes = Object.assign({}, info.estados);\n\n  for (const est of ordenEstados) {\n    if (estadosPresentes[est] !== undefined) {\n      msg += '   - ' + est + ': ' + estadosPresentes[est] + '\\n';\n      delete estadosPresentes[est];\n    }\n  }\n  for (const [est, cant] of Object.entries(estadosPresentes)) {\n    msg += '   - ' + est + ': ' + cant + '\\n';\n  }\n});\n\nreturn [{ json: { mensaje: msg } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        3216
      ],
      "id": "44070d86-8549-43c3-ade8-0df6f6e5e1b2",
      "name": "Code_Calcular_Reporte_V2"
    },
    {
      "parameters": {
        "jsCode": "// Input 0: solicitudes (viene de Leer_Todas_Solicitudes via Code_Calcular_Reporte_V2)\n// Input 1: logs (viene de Leer_Logs_Reporte)\n// Pero en n8n con merge usamos otra estrategia:\n// Este nodo recibe el mensaje del reporte (que tiene {{TOTAL_LOGS}}) y lo reemplaza\n\nconst msgItem  = $('Code_Calcular_Reporte_V2').item;\nconst logsItems = $('Leer_Logs_Reporte').all();\n\nconst totalLogs = logsItems.filter(i => i.json && i.json.telegram_user).length;\n\nconst mensajeFinal = msgItem.json.mensaje.replace('{{TOTAL_LOGS}}', String(totalLogs));\n\nreturn [{ json: { mensaje: mensajeFinal } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        3216
      ],
      "id": "fe8411d8-29a6-4a1b-9e5e-c45faa4d1c3d",
      "name": "Code_Merge_Reporte"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -496,
        3216
      ],
      "id": "2fe10a6a-67d0-4e72-b951-feec25bd776b",
      "name": "Msg_Reporte_Final",
      "webhookId": "rep00008-msg-reporte-final",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 643761654,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uF7_Pz5px6-zNpH3rqFac1O0BeAxfz_cgIbD6Zq19v0/edit#gid=643761654"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "MENU_PRINCIPAL",
            "opcion": "Reporte por tipo",
            "resultado": "Reporte enviado"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        3216
      ],
      "id": "c007bbd4-4ae9-468a-8745-c8c6934498e6",
      "name": "Log_Reporte_V2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qwi2ukyxwxQZtuZf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Por favor llame al 123 🆘",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        1568
      ],
      "id": "4bdd9b2a-24f7-4364-ac3d-5ce938239198",
      "name": "Msg_Ayuda",
      "webhookId": "0e47314c-9a6c-4722-9ece-030946976867",
      "credentials": {
        "telegramApi": {
          "id": "c7mPCfmt2zbSQQeY",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check_Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Usuario": {
      "main": [
        [
          {
            "node": "Validar_Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar_Activo": {
      "main": [
        [
          {
            "node": "Cargar_Estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_No_Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar_Estado": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Principal": {
      "main": [
        [
          {
            "node": "Msg_Menu_Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch_Opciones_Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch_Tipos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar _Último_Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch_Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar_Ticket_Especifico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch_Submenu_Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_FallBack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Menu_Principal": {
      "main": [
        [
          {
            "node": "Log_Menu_Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Opciones_Menu": {
      "main": [
        [
          {
            "node": "Msg_Seleccionar_Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Pedir_Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Mis_Solicitudes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Configuracion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Seleccionar_Tipo": {
      "main": [
        [
          {
            "node": "Log_Esperando_Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Tipos": {
      "main": [
        [
          {
            "node": "Msg_Seleccionar_Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Seleccionar_Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Seleccionar_Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log_Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Pedir_Descripcion": {
      "main": [
        [
          {
            "node": "Log_Esperando_Descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_FallBack": {
      "main": [
        [
          {
            "node": "Log_Reset_Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Switch_Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Seleccionar_Prioridad": {
      "main": [
        [
          {
            "node": "Log_Esperando_Prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar_Solicitud1": {
      "main": [
        [
          {
            "node": "Msg_Confirmacion_Final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Confirmacion_Final1": {
      "main": [
        [
          {
            "node": "Log_Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Prioridad": {
      "main": [
        [
          {
            "node": "Msg_Pedir_Descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Pedir_Descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Pedir_Descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log_Reset1": {
      "main": [
        [
          {
            "node": "Msg_Menu_Principal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar _Último_Ticket": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "nuevo_estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nuevo_estado": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Leer_Logs_TP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Pedir_Ticket": {
      "main": [
        [
          {
            "node": "Log_Esperando_Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Ticket_Especifico": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Msg_Datos_Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg_Ticket_No_Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Datos_Ticket": {
      "main": [
        [
          {
            "node": "Log_Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Mis_Solicitudes": {
      "main": [
        [
          {
            "node": "Buscar_Mis_Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Mis_Solicitudes": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Msg_Lista_Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Lista_Solicitudes": {
      "main": [
        [
          {
            "node": "Log_Mis_Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Reportes": {
      "main": [
        [
          {
            "node": "Msg_Submenu_Reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer_Todas_Solicitudes": {
      "main": [
        [
          {
            "node": "Code_Calcular_Reporte_V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Calcular_Reporte": {
      "main": [
        [
          {
            "node": "Msg_Reporte_Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Reporte_Resultado": {
      "main": [
        [
          {
            "node": "Log_Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log_Reporte": {
      "main": [
        [
          {
            "node": "Log_Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer_Logs_TP": {
      "main": [
        [
          {
            "node": "Code_Extraer_TP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Extraer_TP": {
      "main": [
        [
          {
            "node": "Guardar_Solicitud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Submenu_Reportes": {
      "main": [
        [
          {
            "node": "Log_Esperando_Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Submenu_Reportes": {
      "main": [
        [
          {
            "node": "Msg_Procesando_Reporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log_Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Procesando_Reporte": {
      "main": [
        [
          {
            "node": "Leer_Todas_Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Calcular_Reporte_V2": {
      "main": [
        [
          {
            "node": "Leer_Logs_Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer_Logs_Reporte": {
      "main": [
        [
          {
            "node": "Code_Merge_Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Merge_Reporte": {
      "main": [
        [
          {
            "node": "Msg_Reporte_Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Reporte_Final": {
      "main": [
        [
          {
            "node": "Log_Reporte_V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log_Reporte_V2": {
      "main": [
        [
          {
            "node": "Log_Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Configuracion": {
      "main": [
        [
          {
            "node": "Log_Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg_Ayuda": {
      "main": [
        [
          {
            "node": "Log_Reset1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6ceec7a3-6df6-491e-b1a6-486daf054f58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4640781e1db9665b955eabd1a1e9707a20b47b8a3b0a18b9285dcd418c7cdb37"
  },
  "id": "MhtdwHCzu37vflte",
  "tags": []
}